@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800&display=swap);

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.large-container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

._container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background: #000;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TTTrailers;
  font-display: swap;
  src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.title {
  font-weight: 700;
  line-height: 129.8507462687%;
  color: #FFFFFF;
  font-size: 64px;
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: #FFFFFF;
  font-size: 18px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #FBD784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header button {
  background-color: transparent;
}

.header__input {
  background-color: transparent;
  width: 50%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 135.2941176471%;
  color: #FFFFFF;
}

.header__input::-moz-placeholder {
  font-size: 17px;
  line-height: 135.2941176471%;
  color: #FFFFFF;
}

.header__input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 135.2941176471%;
  color: #FFFFFF;
}

.header__input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 135.2941176471%;
  color: #FFFFFF;
}

.header__input::placeholder {
  font-size: 17px;
  line-height: 135.2941176471%;
  color: #FFFFFF;
}

.header__input:focus {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-menu {
  display: none;
}

.main-block {
  position: relative;
}

.main-block__content {
  position: relative;
  z-index: 2;
  padding-top: 287px;
  padding-bottom: 874px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
  max-width: 950px;
  margin: 0 auto;
}

.main-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  font-size: 96px;
  line-height: 104%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 125px;
}

.main-block__title span {
  font-weight: 400;
  font-size: 88px;
}

.main-block__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
  font-weight: 600;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-block__image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.decor__text {
  font-size: 18px;
  line-height: 138.8888888889%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
  letter-spacing: 6px;
  font-size: 18px;
}

.folow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin: auto 0;
}

.folow__social {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.folow__social img {
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.folow__text {
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.east-tanggara__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 125px;
}

.east-tanggara__image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
}

.east-tanggara__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.east-tanggara__block-text {
  max-width: 632px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.east-tanggara__decor {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.east-tanggara__title {
  max-width: 555px;
  margin-bottom: 27px;
}

.east-tanggara__text {
  margin-bottom: 27px;
}

.bromo-slider__content {
  padding-top: 125px;
  padding-bottom: 250px;
}

.bromo-slider__block {
  position: relative;
  z-index: 2;
  padding-top: 535px;
  padding-bottom: 23px;
}

.bromo-slider__slide {
  position: relative;
}

.bromo-slider__bromo-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  gap: 29px;
}

.bromo-slider__name {
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.bromo-slider__title {
  max-width: 705px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 27px;
}

.bromo-slider__text {
  max-width: 934px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 39px;
}

.bromo-slider__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bromo-slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-reverse {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.decor-revers {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.block-text-revers {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.footer {
  background-color: #000;
}

.footer__content {
  padding-top: 125px;
}

.footer-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 115px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-content__started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
}

.footer-content__text {
  line-height: 131.8181818182%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  font-size: 22px;
}

.footer-content__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 69px;
  padding: 0 72px;
  background: #FFA343;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-main {
  padding-top: 55px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.content-main__title-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

.content-main__title {
  font-size: 36px;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 136.1111111111%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.content-main__title-list {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
}

.content-main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main__input {
  width: 100%;
  padding-left: 15px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.content-main__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  color: rgba(255, 255, 255, 0.5);
}

.content-main__input::-moz-placeholder {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  color: rgba(255, 255, 255, 0.5);
}

.content-main__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  color: rgba(255, 255, 255, 0.5);
}

.content-main__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  color: rgba(255, 255, 255, 0.5);
}

.content-main__input::placeholder {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  color: rgba(255, 255, 255, 0.5);
}

.content-main__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 69px;
  padding: 0 30px;
  background: #FFA343;
  border-radius: 8px 8px 0 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-main__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.content-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.content-main__link {
  font-size: 19px;
  letter-spacing: -0.204545px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
}

.content-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.content-footer__link {
  font-size: 15px;
  line-height: 133.3333333333%;
  letter-spacing: -0.204545px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
}

.content-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  ransition: all 0.5s ease;
}

.content-footer__bottom {
  padding-top: 156px;
  padding-bottom: 20px;
}

.content-footer__text {
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

@media (max-width: 1600px) {
  .main-block__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media (max-width: 1360px) {
  .title {
    font-size: calc(30px + 34 * ((100vw - 320px) / 1040));
  }

  .text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1040));
  }

  .header__content {
    padding-top: calc(40px + 24 * ((100vw - 320px) / 1040));
  }

  .header__content {
    padding-bottom: calc(40px + 24 * ((100vw - 320px) / 1040));
  }

  .menu__list {
    gap: calc(30px + 20 * ((100vw - 320px) / 1040));
  }

  .main-block__content {
    padding-top: calc(150px + 137 * ((100vw - 320px) / 1040));
  }

  .main-block__content {
    padding-bottom: calc(300px + 574 * ((100vw - 320px) / 1040));
  }

  .main-block__title {
    font-size: calc(40px + 56 * ((100vw - 320px) / 1040));
  }

  .main-block__title span {
    font-size: calc(40px + 48 * ((100vw - 320px) / 1040));
  }

  .main-block__title {
    margin-bottom: calc(40px + 85 * ((100vw - 320px) / 1040));
  }

  .decor {
    gap: calc(10px + 22 * ((100vw - 320px) / 1040));
  }

  .decor__text {
    letter-spacing: calc(1px + 5 * ((100vw - 320px) / 1040));
  }

  .decor__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1040));
  }

  .east-tanggara__content {
    padding-bottom: calc(60px + 65 * ((100vw - 320px) / 1040));
  }

  .bromo-slider__content {
    padding-top: calc(60px + 65 * ((100vw - 320px) / 1040));
  }

  .bromo-slider__content {
    padding-bottom: calc(120px + 130 * ((100vw - 320px) / 1040));
  }

  .bromo-slider__block {
    padding-top: calc(100px + 435 * ((100vw - 320px) / 1040));
  }

  .bromo-slider__bromo-decor {
    gap: calc(15px + 14 * ((100vw - 320px) / 1040));
  }

  .footer__content {
    padding-top: calc(60px + 65 * ((100vw - 320px) / 1040));
  }

  .footer-content__started {
    gap: calc(10px + 45 * ((100vw - 320px) / 1040));
  }

  .content-main {
    padding-top: calc(40px + 15 * ((100vw - 320px) / 1040));
  }

  .content-main {
    padding-bottom: calc(60px + 40 * ((100vw - 320px) / 1040));
  }

  .content-main__title {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1040));
  }

  .content-main__title {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1040));
  }

  .content-main__title-list {
    font-size: calc(17px + 3 * ((100vw - 320px) / 1040));
  }

  .content-main__link {
    font-size: calc(16px + 3 * ((100vw - 320px) / 1040));
  }

  .content-footer__links {
    gap: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .content-footer__social {
    gap: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .content-footer__bottom {
    padding-top: calc(60px + 96 * ((100vw - 320px) / 1040));
  }
}

@media (max-width: 1199px) {
  .main-block__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media (max-width: 991px) {
  .main-block__body {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 100%;
  }

  .east-tanggara__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .east-tanggara__image {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  .east-tanggara__block-text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    text-align: center;
  }

  .east-tanggara__decor {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  .east-tanggara__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .image-reverse {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  .decor-revers {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  .block-text-revers {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    text-align: center;
  }

  .content-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .content-main__title-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }

  .content-main__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header__search {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 4;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .main-block__title {
    text-align: center;
  }

  .footer-content__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 479px) {
  .main-block__content {
    display: block;
  }

  .decor img {
    width: 30px;
  }

  .folow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 30px;
  }

  .folow__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }

  .folow__text {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }

  .bromo-slider__bromo-decor img {
    width: 50px;
  }

  .footer-content__text {
    font-size: 14px;
  }

  .footer-content__link {
    padding: 0 40px;
    min-height: 40px;
    font-size: 14px;
  }

  .content-main__btn {
    min-height: 40px;
    padding: 0 20px;
  }

  .content-footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (any-hover: hover) {
  .link:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }

  .menu__link:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }

  .main-block__scroll:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }

  .folow__social img:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .footer-content__link:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #f48f23;
  }

  .content-main__btn:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #f48f23;
  }

  .content-main__link:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }

  .content-footer__link:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }

  .content-footer__social img:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}